body{
	margin:0;
	background-color: #f0f0f1;
	font-family:  arial;	
	font-size: 16px; 
	  
	background:url(../images/home.jpg) 0 100px no-repeat;
	background-size: cover ;
}
a{ 
text-decoration:none;
border:0;
color: #6c6d6f;}
img{ border:0;}
header{
	background-color: #f0f0f1;
	height: 100px;
	position: relative;
}
footer{ 
	background-color: #404041;
	position: fixed;
	bottom:0;
	width: 100%;
	margin-top: 1em;
}
footer a{
	color: #fff;}
h4{
	color: #c1c1c1;
}
header .titulo{
	position: absolute;
	bottom: 0;
	right: 1em;
	color: #6c6d6f;
	line-height: 1.5em;
}
header .titulo .top{
	font-size: 10px;
	color: #636364;
	margin: 5px 0 5px 0;
}
header .titulo .middle{
	font-size: 35px;
	color: #636364;
	margin: 5px 0 5px 0;
}
header .titulo .bottom{
	font-size: 22px;
	color: #636364;
	margin: 5px 0 10px 0;
}
nav{
	position: relative;
	clear: both; 
	background: url(../images/bgMenu.png);
}
nav ul{
	list-style-type: none;
	margin: 0; 
}
nav li{
	display: inline;
	margin: 0 0 0 -5px;
	background: url(../images/bgMenu.png);
	text-align: center;
	border-right: solid 1px #a1a2a5;
	padding: 0 10px 0 10px;
}
nav li:hover{
	background:#fff;
	color:#4d9fd9;}	
nav li:hover a{
	background:#fff;
	color:#4d9fd9;}
nav li:hover ul li a{
	background:#4d9fd9;
	color:#fff;}	

nav a{ 
	text-decoration: none;	
	color: #fff;
	font-size: 11px;
	text-transform: uppercase;
}
nav ul li ul{
	display:none;
	position:absolute;
	left: 0;
	bottom: -15;
	margin:-35px 0 0 142px; 
	 
}	
nav ul li ul li{ 
	background: #4d9fd9;
	 
}	
nav ul li ul li a{ 
	background: #4d9fd9;
	color:#FFF;
	 
}	
nav ul li:hover > ul{
	display:block;  
}
nav ul li ul :hover > li{
	display:block; 	 
}	
nav ul li ul li:hover > a{
	background:#FFF; 
	color:#4d9fd9;	
}
h2{ 
	color: #4d9fda;
	font-weight: 0;
}
h3{
	text-transform: uppercase;
 	color: #4d9fda;
	font-weight: 0 !important;
}
h4{
	font-size: 1.1em;
	font-weight: 0 !important;
	line-height: 1em;
	padding: 0;
	text-transform: uppercase;
 	color: #58585a;
}
.left,
.right{
	float:left;
	margin: 10px 0 10px 20px;
	color: #fff;
	font-size: 12px;
}
.right{
	margin: 10px 20px 10px 0;	
	float:right;

}

.contenedor{
	background-color: #fff; 
}
.content{
	margin: 0 auto; 
	max-width: 2560px;
	min-width: 1024px; 
	position: relative;
	 
}
.contenedor .content{
	background-color: #404041;
}
.imagenHome{
	width: 100%;
	margin: 0 auto; 
}
.landing{
	
	position: absolute;
	top: 8em;
	right: 50px;
	width: 400px;
	bottom: 8em;
}
.botones{
	position: fixed; 
	right: 50px;
	width: 400px;
	bottom: 50px;
}
.home{
	position: absolute;
	top: 9em;
	right: 4.5em;
	width: 400px;
	
}
.news{
	position: absolute; 
	color: #fff; 
 	padding:5% 5%;
}
.people{
	position: absolute; 
	color: #fff; 
 	padding:5% 5%;
}
.galeria{
	margin: 0;
	padding: 0;
	display:inline-block;
	width: 25%;
}
.gallery{
	position: relative;
	clear: both;
}

.twitter{
	background-color: #e6e7e8;
}
.contenedor .titulo{
	font-size: 45px;
	line-height: 1.0em;
	margin: -1em 0.3em 0.3em 0;
}
.contenedor .descripcion{
	color: #868688;
	font-size: 27px;
	line-height: 1.0em;
	margin: 5px 5px 5px 0;

}
.clear{
	clear: both;
}
.botonEs,
.botonEn{
	bottom: 0;
	cursor: pointer;	
	display:inline-block;
	font-size: 12px;
	float: left;
	height: 100px; 
	margin-right: 5px;
	position: relative;
	right: 0;
	transition: all 0.5s linear;
	width: 176px;
}
.botonEs{
	background: url(../images/boton_es.png) no-repeat top center;
	color: #4d9fda; 

}
.botonEn{
	background: url(../images/boton_en.png) no-repeat top center;
	color: #ab6c36; 	
}
.botonEs:hover{ 
	background: url(../images/botonOver_es.png)no-repeat top center;
}
.botonEn:hover{
	background: url(../images/botonOver_en.png)no-repeat top center;
}
.botonEs ul,
.botonEn ul{
	bottom: -10px;
	margin-left: -10px;
	position: absolute;
}
.parrafo{
	text-align: justify; 
}

.fecha{
	color: #6b696b;
}
.columna{ 
	float:left;
	padding:1%;
	vertical-align: top;
	width:35%;
}
.titulo_news{ 
	display:inline-block; 
	float:right;
	font-size:34px;
	padding-top:10%; 
	text-align:right; 
	vertical-align: top; 
	width:200px; 
}
.topevento{
	background-size: 100%;
	background: url(../images/eventos.png) no-repeat center; 
	height: 140px;
	width: 100%;
}

.eventoleft,
.eventoright{ 
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 70%;
}
.eventoright{ 
	width: 29%;		
}
.articuloevento:hover .eventodescripcion{
	height: 100px;
	visibility: visible;
}
.slides li:hover .eventodescripciontop{
	height: 100px;
	visibility: visible;

}
.eventodescripcion, .eventodescripciontop{
	background: rgba(78,79,81,0.7);
	height: 0;
	overflow: hidden;
	padding: 10px;
	position: absolute;
	transition: all 0.5s ease; 
	visibility: hidden;
	width: 340px;
}
.eventodescripciontop{
	width: 100%;
	padding: 30px;
}

.eventogaleria img{
	margin-bottom: 5px;
	top: 0;
	vertical-align: top;
	width: 100%;
}
.articuloevento{
	display: inline-block;
	margin: 5px; 
	vertical-align: top;
	width: 360px;

}
.articuloevento img{
	width: 100%;
}
.eventotitle{
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 10px;	
	text-align: left;
}
.eventofecha{
	color: #25aae1;
	text-align: left;
}
#logo{
	padding: 5px 5px 5px 20px;
}

#titulo_new{
	float:left;	
	margin:0 1em;  
	padding:1%;  
	vertical-align: top; 
	width:20%;  
}
.igual2{ 
	color:#222; 
	font-size: 12px
	width: 45%; 
}
.right2{ 
	right; margin-top: -20px;
	text-align: 
}
.left2{ 
	margin-left:0px;
	margin-top: -20px; 
	text-align: left; 
}
.option3left,
.option3right{ 
	color: #58585a;
	display: inline-block;
	margin: 0 auto; 
	padding: 2px;
	text-align: center;
	vertical-align: top; 
	width: 30%;
}
.option3right{
	text-align: left;
	width: 65%; 
	margin-top: -20px;

}
.option3right div{
	padding-left: 15px;
}
.option3right>h4{
	font-size: 1.8em;
}
.option3left figure img{
	padding-left: 7px;
}
.option3left figure:last-child{
	margin-top: -12px; 
}
.option3top{  
	width: 100%;
}

	@media screen and (max-width:1024px){ 
		body{ 
			background-size: 1024px ;
			} 
		.topevento{
			background-size: 1024px;
			}			
	} 
